In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
import numpy as py

In [5]:
#Importing Student_Data
first_file = open("students_complete.csv")
student_data = pd.read_csv(first_file)
student_data.head(10)

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [6]:
#Importing school_data
second_file = open("schools_complete.csv")
school_data = pd.read_csv(second_file)
school_data.head(5)

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
#renames for merge
school_data.rename(columns = {'name': 'school'}, inplace = True)

merged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

KeyError: 'school_name'

In [8]:
#Finding Total Schools
total_schools = len(student_data["school"].unique())

In [9]:
total_schools

15

In [10]:
#Finding Total Students
total_students = len(student_data["name"])

In [11]:
total_students

39170

In [12]:
#Finding Total Budget
total_budget = school_data["budget"].sum()

In [13]:
total_budget

24649428

In [14]:
#Finding Average Math Score
average_math_score = student_data["math_score"].mean()

In [15]:
average_math_score

78.98537145774827

In [16]:
#Finding average reading score
average_reading_score = student_data["reading_score"].mean()

In [17]:
print(average_reading_score)

81.87784018381414

In [18]:
#Finding % Passing Math
count_of_passing_math = student_data[student_data["math_score"] >= 70].count()[0]

In [19]:
count_of_passing_math

29370

In [20]:
#Finding % Passing Reading
passing_percentage_math = (count_of_passing_math / total_students) * 100

In [21]:
passing_percentage_math

74.9808526933878

In [22]:
count_of_passing_reading = student_data[student_data["reading_score"] >= 70].count()[0]

In [23]:
passing_percentage_reading = (count_of_passing_reading / total_students ) * 100

In [24]:
passing_percentage_reading

85.80546336482001

In [25]:
#Overall passing rate
overall_passing_rate = (passing_percentage_math + passing_percentage_reading) / 2

In [26]:
overall_passing_rate

80.39315802910392

In [27]:
#Creating a district summary
district_summary = pd.DataFrame({"Total Schools": [total_schools], 
                                 "Total Students": [total_students], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_percentage_math],
                                 "% Passing Reading": [passing_percentage_reading],
                                 "% Overall Passing Rate": [overall_passing_rate]})

In [28]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [29]:
#groups by school
by_school = merged_df.set_index('school').groupby(['school'])

In [30]:
#Create a list of school names
school_names = student_data["school"].unique()

In [31]:
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [32]:
#Find the school_types
school_type= school_data.set_index('school')['type']

In [33]:
school_type

school
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [34]:
#Find the total students per school
total_students_per_school = student_data.groupby(student_data["school"])["name"].count()

In [35]:
total_students_per_school

school
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: name, dtype: int64

In [36]:
#Find the total budget per school
total_school_budget = school_data.set_index('school')['budget']

In [37]:
total_school_budget

school
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [38]:
#Find the total budget per student
per_student_budget = total_school_budget / total_students_per_school

In [39]:
per_student_budget

school
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [40]:
#Find the average math and reading score by school
avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()

In [41]:
avg_math

school
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [42]:
avg_read

school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [43]:
passing_math = merged_df[merged_df['math_score'] >= 70].groupby('school')['Student ID'].count()/total_students_per_school*100

In [44]:
passing_math

school
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [45]:
passing_reading =  merged_df[merged_df['reading_score'] >= 70].groupby('school')['Student ID'].count()/total_students_per_school*100

In [46]:
passing_reading

school
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [47]:
overall_average = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school')['Student ID'].count()/total_students_per_school * 100

In [48]:
overall_average

school
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [49]:
#Create an overall school summary
overall_school_dataframe = pd.DataFrame({"School Name":[school_names],
    "School Type": [school_type],
    "Total Students": [total_students],
    "Per Student Budget": [per_student_budget],
    "Total School Budget": [total_school_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_read],
    "% Passing Math": [passing_percentage_math],
    "% Passing Reading": [passing_percentage_reading],
    "Overall Passing Rate": [overall_passing_rate]})

In [50]:
print(overall_school_dataframe)

                                         School Name  \
0  [Huang High School, Figueroa High School, Shel...

                                         School Type  Total Students  \
0  school
Huang High School        District
Figue...           39170

                                  Per Student Budget  \
0  school
Bailey High School       628.0
Cabrera ...

                                 Total School Budget  \
0  school
Huang High School        1910635
Figuer...

                                  Average Math Score  \
0  school
Bailey High School       77.048432
Cabr...

                               Average Reading Score  % Passing Math  \
0  school
Bailey High School       81.033963
Cabr...       74.980853

   % Passing Reading  Overall Passing Rate
0          85.805463             80.393158